*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: linear-gradient(to left, #abaada, #a3a7d4, #9ca4cd, #95a0c7, #8f9dc0, #8a9aba, #8696b3, #8293ad, #7f8fa5, #7c8c9d, #7a8896, #79848e);
    height: 100vh;
    width:100%;
}
/* CSS for the header */
header{
    display: flex;
    justify-content: center;
    margin:1%;
}
/* CSS for the header of the Simpsons Page */
#title{
    color:blue;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#title span {
    color: yellow;
}

/* CSS for the main images and the two decks on the screen */

main{
    display: flex;
    justify-content: center;
}

.Deck-1 {
    display: flex;
    margin: 3%;
    position: relative;
}
.Deck-2 {
    display: flex;
    margin: 3%;
    position: relative;
}

/* CSS for the buttons */

buttons,.button{
    display: flex;
    justify-content: center;
}

#call-card, #toggle{
    width: 200px;
    background: chartreuse;
    margin: 10%;
    height: 25px;
    border-radius: 10%;
    position: relative;
}
