*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #DDDDDD;
}

.main{
    display: flex;
    margin: 0%;
    padding: 0%;
}
/* CSS for the header */
.top{
    display: flex;
    justify-content: center;
    width:100%;
    height: 10vh;
    background: whitesmoke;
}
#title{
    color: black;
    font-size: 40px;
    font-family: sans-serif;
    padding-top: 4%;
}